<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MovieBookingApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DF6C8426AC2699A6B398B4EC2C26DC148619F4D5</string>
				<key>dateExpires</key>
				<string>29/7/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF6C8426AC2699A6B398B4EC2C26DC148619F4D5</string>
						<key>dateExpires</key>
						<string>29/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8PN34TR97W</string>
						<key>name</key>
						<string>Ivy innovation technology joint stock company</string>
					</dict>
					<key>versionNumber</key>
					<string>11.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF6C8426AC2699A6B398B4EC2C26DC148619F4D5</string>
						<key>dateExpires</key>
						<string>29/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8PN34TR97W</string>
						<key>name</key>
						<string>Ivy innovation technology joint stock company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF6C8426AC2699A6B398B4EC2C26DC148619F4D5</string>
						<key>dateExpires</key>
						<string>29/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8PN34TR97W</string>
						<key>name</key>
						<string>Ivy innovation technology joint stock company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF6C8426AC2699A6B398B4EC2C26DC148619F4D5</string>
						<key>dateExpires</key>
						<string>29/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8PN34TR97W</string>
						<key>name</key>
						<string>Ivy innovation technology joint stock company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DF6C8426AC2699A6B398B4EC2C26DC148619F4D5</string>
						<key>dateExpires</key>
						<string>29/7/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8PN34TR97W</string>
						<key>name</key>
						<string>Ivy innovation technology joint stock company</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8PN34TR97W.com.gnoodie.MovieBookingApp</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>8PN34TR97W</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MovieBookingApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>83c8358b-dfad-4819-9b36-7148c91a67bc</string>
				<key>dateExpires</key>
				<string>29/7/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.gnoodie.MovieBookingApp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8PN34TR97W</string>
				<key>name</key>
				<string>Ivy innovation technology joint stock company</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
